<button mat-button color="accent">Accent</button>
<button mat-button color="warn">Warn</button>
<a mat-button href="https://www.google.com/" target="_blank">Link</a>
<button mat-button color="primary">Primary</button>


<mat-progress-bar mode="determinate" value="40"></mat-progress-bar>


<div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

  <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>


  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
  <!-- Include text description of the icon's meaning for screen-readers -->
  <span class="cdk-visually-hidden">


